{% extends 'e04/base_v2.html' %}

{% load static %}

{% block content %}

    <body>

        <link rel="stylesheet" href="{% static 'e04/css/config.css' %}">

        <div style = "margin-left: 1rem;width:40rem">

            <h3>
                Configurações do Sistema
            </h3>
            <h4>
                Geral:
            </h4>

            <form method="post" action = ''>

                {% csrf_token %}
                {{ form.non_field_errors }}
                <h6 title = "Pastas onde os resultados serão salvos">
                    Pasta dos Resultados:
                </h6>
                <div>
                    {{form.save_path}}
                </div>
                <hr>
                <h4 title = "Modelos a serem utilizados no reconhecimento de pessoas.">
                    Reconhecimento de Pessoas:
                </h4>

                <div class="parent hidden-ss" style="margin-left: 0rem !important;">

                    <div>
                        <h6>Modelo de Reconhecimento Facial:</h6>
                        <div>
                            {{form.ret_model}}
                            {% if form.ret_model.errors %}
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div>
                            <h6>Método de Pré-Processamento:</h6>
                            {{form.ret_pre_process}}
                            {% if form.ret_pre_process.errors %}
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <h4 title = "Modelo a ser usado na detecção de objetos">
                    Detecção de Objetos:
                </h4>
                <div class = 'parent'>
                    <div>
                        <h6>Modelo de Detecção de Objetos:</h6>
                        <div>
                            {{form.det_model}}
                            {% if form.det_model.errors %}
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <input class="btn btn-primary" type="submit" value = 'Salvar Mudanças' 
                    style="margin-top: 1rem; margin-left:14rem;width: 12rem;text-align:center;border-radius: 0.8rem;">
                </input>
            </form>
        </div>
    </body>

{% endblock %}