{% extends 'e04/base_v2.html' %}

{% block content %}

    <div class="container">
    <div class="row" style="padding-bottom: 1em;">
        <div class="col-12"> <h2><b>Detecção de Objetos</b></h2></div>
    </div>
    <div class="row flex-row d-flex justify-content-left">
        <div class="col-8">
            <form method="post" enctype="multipart/form-data" action="/e04/detect_obj">
                {% csrf_token %}
                <h4>Detecção em Batch (Upload)</h4>
                <div id="text-file-helper" class="form-text">
                    Faça o upload de um conjunto de imagens em um arquivo .zip, para realizar a detecção.
                </div>
                <div class="input-group">
                    
                    <input class="form-control" name="zipFile" id="zipFile" type="file" accept=".zip, .arj, .rar, .tar.gz, .tgz" onchange="toggleFolder(this)"/>
                    <button class="btn btn-sm btn-outline-dark" type="button" id="removeBtn" data-mdb-ripple-color="dark" 
                    style="border-width: 1px; border-color:#bdbdbd;color:#666666;" hidden onclick="removeFile()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    
                </div>
                <hr/>
                <h4>Detecção em Batch (Pasta Local)</h4>
                <div id="text-folder-helper" class="form-text">
                    Informe uma pasta local do sistema para realizar a detecção em imagens e vídeos nessa pasta.
                </div>
                <div class="form-outline">
                    <input type="text" name="folderInput" id="folderInput" class="form-control input-lg " placeholder="/home" onchange="toggleZip(this)"/>
                    <label class="form-label" for="folderInput">Pasta</label>
                </div>
                <div class="invalid-feedback" style="position: relative;margin-top: 0.25rem;" id="errorFolder">Please provide a valid city.</div>

                <hr/>
                <label><h4>Configurações</h4></label>
                <br/>
                
                <label class="control-label" for="detObjConfidence">Confiança mínima:</label>
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="number" id="detObjConfidence" class="form-control" min="0" max="100" value="50"/>
                    </div>
                </div>
                <br/>
                <div class="form-check">
                    <label class="form-check-label" for="doFaceRetrieval">Realizar reconhecimento de pessoas?</label>
                    <input class="form-check-input" type="checkbox" value="" id="doFaceRetrieval" />
                </div> 
                <hr/>
                <div class="form-group form-outline flex-row">
                    <button type="submit" class="btn btn-info">Executar</button>
                    <button type="submit" class="btn btn-light">Reiniciar</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>

    <script>
            function toggleZip(folderInput){
                fzip = document.getElementById("zipFile");
                if (folderInput.value !== ''){
                    fzip.disabled = true;
                }
                else{
                    fzip.disabled = false;
                }
            }

            function toggleFolder(fzipInput){
                folder = document.getElementById("folderInput");
                if (fzipInput.value !== ''){
                    folder.disabled = true;
                    document.getElementById("removeBtn").hidden = false;
                }
                else{
                    folder.disabled = false;
                    document.getElementById("removeBtn").hidden = true;
                }
            }

            function removeFile(){
                var fzip = document.getElementById("zipFile");
                fzip.value = '';
                toggleFolder(fzip);
            }
    </script>
{% endblock %}