{% extends 'e04/base_v2.html' %}

{% block content %}

    <div>
        <h4 class="mx-auto mt-3">Informações</h4>
        <ul style="list-style-type: circle;">
            <li>Atualizar "banco de dados de imagens": <br />
                <ul style="list-style-type: circle;">
                    <li>Para realizar essa tarefa, uma pasta com um conjunto de dados deve ser fornecido.
                        Tal pasta deve possuir a seguinte estrutura: todas as fotos de uma pessoa devem estar dentro
                        de uma pasta relativa a essa pessoa, e cada pessoa deve ter sua pr&oacute;pria pasta com seu nome.
                    </li>
                </ul>
            </li>
            <li>Treinamento de modelos de reconhecimento de face:
                <ul style="list-style-type: circle;">
                    <li>Para realizar essa tarefa, uma pasta com um conjunto de dados deve ser fornecido.
                        Tal pasta deve possuir a mesma estrutura explicada anteriormente.
                    </li>
                </ul>
            </li>
            <li>O modelo atual para detec&ccedil;&atilde;o de objetos &eacute; capaz de reconhecer as seguintes classes:
                <ul style="list-style-type: circle;">
                    <li>Bicicleta</li>
                    <li>Carro</li>
                    <li>&Ocirc;nibus</li>
                    <li>Moto</li>
                    <li>Caminh&atilde;o</li>
                    <li>Pistola</li>
                    <li>Submetralhadora</li>
                    <li>Metralhadora</li>
                    <li>Rifle</li>
                    <li>Rifle de longo alcance</li>
                    <li>Faca</li>
                    <li>Machete</li>
                    <li>Canivete</li>
                    <li>Estilete</li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
