{% extends 'e04/base_v2.html' %}

{% block content %}

<head>
    <title>document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <style type="text/css">
        
    </style>
</head>

<body>
    <div class="container">
        <div class="row flex-row d-flex" style="padding-bottom: 1em;">
            <div class="col-12">
                <h2><b>{{operation.get_type_display}} {{operation.id}}</b></h2>
                <h5>Banco de dados atualizado: {{database.name}}</h5>
                <h5>Total de imagens atualizadas: {{qtt_images}}</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Imagens</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for image in image_list %}
                        <tr>
                            <td>{{image.path}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>


{% endblock %}