{% extends "registration/accounts_base.html" %}

{% load static %}



{% block content %}

<body>
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
  <div class = "fg_box">
    <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
        <h4>Esqueceu a Senha?</h4>
        <hr>
        <p>Insira o seu Email.</p>
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-primary" value="Reset password">
    </form>
  </div>

</body>


{% endblock %}